.container
  %ul
    %li #{season_games_link(@season)}
.container
  %h1 #{date_header}
  %h2 #{@away_team.name} vs #{@home_team.name}
.container
  = render partial: "stat", locals: { players: @away_players, team: @away_team }
.container
  = render partial: "stat", locals: { players: @home_players, team: @home_team }